---
version: "3"

volumes:
  pluievolution_data:

services:

  pluievolution:
    image: plui-evolution-image
    depends_on:
      - database
      - ldap
    ports:
      - "{{pluievolution_server_expose_port}}:{{pluievolution_server_port}}"      
    volumes:
      - ./config:/etc/georchestra
      - pluievolution_data:/opt/pluievolution/data
    environment:
      - JAVA_OPTIONS=-Dorg.eclipse.jetty.annotations.AnnotationParser.LEVEL=OFF
      - ADD_JAVA_OPTS=
      - XMX=1G

